.particleContainer {
  width: 95%;
  max-width: 81.25rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-x: visible;
}

.particle {
  composes: boxShadow from global;
  position: absolute;
  border-radius: 50%;
  border: .625rem solid var(--backgroundPrimary);
  width: 43.75rem;
  height: 43.75rem;
  animation: downHide 20s linear infinite both;

  z-index: -1;
  filter: blur(1.4375rem);
  /* -webkit-transform: translateY(-3000px);
  transform: translateY(-3000px); */
}
.particle:nth-child(4) {
  right: -20%;
  animation-delay: 15s;
}

.particle:nth-child(3) {
  left: -20%;
  animation-delay: 10s;
}
.particle:nth-child(2) {
  animation-delay: 5s;
  right: -20%;
}
.particle:nth-child(1) {
  left: -20%;
  animation-delay: 0s;
}

@keyframes downHide {
  0% {
    filter: blur(1.4375rem);
    width: 43.75rem;
    height: 43.75rem;
    -webkit-transform: translateY(-50rem);
    transform: translateY(-50rem);
    opacity: 1;
  }
  25% {
    width: 37.5rem;
    height: 37.5rem;
    filter: blur(.8125rem);
  }
  50% {
    width: 43.75rem;
    height: 43.75rem;
    filter: blur(1.4375rem);
  }
  75% {
    width: 37.5rem;
    height: 37.5rem;
    filter: blur(.8125rem);
  }
  90% {
    opacity: 1;
  }
  100% {
    filter: blur(1.4375rem);
    width: 43.75rem;
    height: 43.75rem;
    -webkit-transform: translateY(250rem);
    transform: translateY(250rem);
    opacity: 0;
  }
}
@media screen and (max-width: 28.125rem) {
  .particleContainer {
    display: none;
  }
}
