.heading {
  composes: heading from global;
  text-align: center;
}

.seeAllBtn {
  composes: smallBtnShadow from global;
  color: var(--primaryColor);
  position: absolute;
  top: 110px;
  right: 3%;
}
.contentGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; */
}

/*----------------------------------*/

.card {
  transition: 0.3s;
  margin: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  max-width: 700px;
  width: 100%;
  composes: boxShadow from global;
  position: relative;
  background: var(--contrastBackground);
}

.card:hover {
  background: var(--backgroundQuaternary);
}

.card:hover .arrow {
  color: var(--primaryColor);
}

.img {
  height: 170px;
  width: 170px;
  min-height: 170px;
  min-width: 170px;
  border-radius: 10px;
  overflow: hidden;
  composes: boxShadow from global;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.info {
  margin-left: 20px;
  padding: 10px;
}
.title {
  /* width: 100%;
  display: flex;
  justify-content: space-between; */
  color: var(--textSecondary);
}

.info p {
  margin-bottom: 15px;
}

.date {
  color: var(--textTertiary);
}

.tag {
  composes: tag from global;
}
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}

.arrow {
  transition: 0.2s;
  font-size: 25px;
  position: absolute;
  top: 50px;
  right: 30px;
  color: transparent;
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .img {
    width: 100%;
    height: 170px;
  }
}

.modalContent {
  max-height: 85vh;
  background: var(--contrastBackground);
}
