.hero {
}

.heroActive {
  margin-top: 10vh;
}

.heroContainer {
  composes: container from global;
  display: flex;
  margin-top: 10px;
  padding: 40px;
}

.heroLeft {
  width: 55%;
  margin-right: 5%;
}

.hero .heroLeft h3 {
  font-weight: 100;
  letter-spacing: 2px;
  color: var(--textSecondary);
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
}
.hero h1 span {
  color: var(--primaryColor);
}
.hero h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--primaryColor);
  min-height: 85px;
}
.hero h2 span {
  color: var(--textSecondary);
}
.hero p {
  color: var(--textTertiary);
  font-size: 18px;
  line-height: 30px;
}
.socialSkills {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.socialContainer {
  display: flex;
}

.socialSkills h4 {
  font-weight: 500;
  letter-spacing: 2px;
  /*  color: var(--textPrimary); */
  color: var(--textQuaternary);
  font-size: 15px;
  margin: 30px 0;
}

.socialBtn {
  composes: btnShadow from global;
  margin: 0;
  margin-right: 30px;
}
.skillBtn {
  margin-right: 30px;

  width: 63px;
  height: 63px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  composes: btnShadow from global;
}

.socialSkills i {
  font-size: 22px;
}
.socialSkills button img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.heroRight {
  width: 40%;
}
.rightImg {
  top: 0;
  left: 0;
  transition: 0.3s;
  position: relative;
  composes: boxShadow from global;
  border-radius: 10px;
  width: 100%;
  height: 500px;
}
.rightImg:hover {
  top: -2px;
  left: -2px;
  box-shadow: 14px 14px 8px var(--backgroundTertiary),
    14px -9px 8px var(--contrastBackground);
  transform: skew(0deg, 5deg);
}
.img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  composes: bgPattern from global;
  background-size: 50px 50px;
}

@media screen and (max-width: 1150px) {
  .socialSkills {
    flex-direction: column;
  }
  .hero h2 {
    font-size: 40px;
    min-height: 120px;
  }
  .hero h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 800px) {
  .heroLeft,
  .heroRight {
    width: 100%;
    margin-bottom: 50px;
  }

  .heroContainer {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .hero h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .socialSkills {
    flex-direction: column;
  }
}
