.hero {
}

.heroActive {
  margin-top: 10vh;
}

.heroContainer {
  composes: container from global;
  display: flex;
  margin-top: 10px;
  padding: 40px;
}

.heroLeft {
  width: 55%;
  margin-right: 5%;
}

.hero .heroLeft h3 {
  font-weight: 100;
  letter-spacing: 2px;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
}
.hero h1 span {
  color: var(--primaryColor);
}
.hero h2 {
  font-size: 50px;
  font-weight: bold;
  color: var(--primaryColor);
}
.hero h2 span {
  color: var(--textSecondary);
}
.hero p {
  color: var(--textTertiary);
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}
.socialSkills {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.socialContainer {
  display: flex;
}

.socialSkills h4 {
  font-weight: 500;
  letter-spacing: 2px;
  /*  color: var(--textPrimary); */
  color: #43474b;
  font-size: 15px;
  margin: 30px 0;
}

.socialBtn {
  margin-right: 30px;
  composes: btnShadow from global;
}
.skillBtn {
  margin-right: 30px;

  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  composes: btnShadow from global;
}

.socialSkills i {
  font-size: 20px;
}
.socialSkills button img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.heroRight {
  width: 40%;
}
.rightImg {
  position: relative;
  composes: boxShadow from global;
  border-radius: 10px;
  width: 100%;
  height: 500px;
}
.rightImg img {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .heroLeft,
  .heroRight {
    width: 100%;
    margin-bottom: 50px;
  }

  .heroContainer {
    flex-direction: column-reverse;
  }

  .hero h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .socialSkills {
    flex-direction: column;
  }
}
