.boxP {
  height: 100px;
  width: 100px;
  background: red;
  composes: primaryColor from './globalStyles.module.css';
}

.secondaryColor {
  color: gold;
}

.boxS {
  composes: primaryColor from './globalStyles.module.css';
  composes: boxP;
  background: var(--gradientPaper);
  composes: font from global;
  box-shadow: var(--box-shadow);
}
