/*-----Modal----*/

.modalContainer {
  display: flex;
  white-space: pre-line;
}

.modalImg {
  position: sticky;
  top: 0;
  width: 50%;
  height: auto;
  height: 100%;

  max-height: 450px;

  box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.459);
  border-radius: 7px;
  overflow: hidden;
}
.modalImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalText {
  width: 50%;

  padding: 0 5px 0 40px;
}

.category {
  color: var(--primaryColor);
}

.modalText h1 {
  margin: 10px 0 10px 0;
  font-size: 30px;
}

.modalText p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 25px;
}

.modalActions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.actionBtn {
  composes: btnShadow from global;
  margin-right: 20px;
  color: var(--primaryColor);
}
.actionBtn i {
  font-size: 17px;
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .modalContainer {
    flex-direction: column;
    padding: 8%;
  }
  .modalImg {
    width: 100%;
    position: static;
    padding: 0;
    margin-bottom: 20px;
  }

  .modalText {
    width: 100%;
    padding: 0;
  }
  .modalText h1 {
    margin: 25px 0;
  }
}
@media screen and (max-width: 450px) {
  .modalContainer {
    padding: 3%;
  }
  .modalActions {
    flex-direction: column;
    justify-content: space-between;
  }

  .actionBtn {
    margin-bottom: 25px;
    margin-right: 0px;
  }
}

/*-----Modal----*/
