.portafolio {
  position: relative;
  color: var(--textSecondary);
}

.heading {
  composes: heading from global;
  text-align: center;
}
.seeAllBtn {
  composes: smallBtnShadow from global;
  color: var(--primaryColor);
  position: absolute;
  top: 110px;
  right: 3%;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card {
  composes: boxShadow from global;
  border-radius: 10px;
  padding: 18px 25px;
  cursor: pointer;
  position: relative;
}

.img {
  width: 100%;
  max-height: 300px;

  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 15px 20px -15px rgba(0, 0, 0, 0.459);
}

.img img {
  object-fit: cover;
  border-radius: 10px;
  min-height: 300px;
  width: 100%;
  transition: 0.5s;
}

.img:hover img {
  transform: scale(1.05);
}
.category {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  text-transform: uppercase;
}
.category span:nth-child(1) {
  color: var(--primaryColor);
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}
.category span:nth-child(2) {
  color: var(--textPrimary);
}

.arrow {
  position: absolute;
  right: 15px;
  bottom: 15px;
  transform: rotate(-45deg);
  color: var(--primaryColor);
  opacity: 0;
  transition: 0.5s;
}
.arrow i {
  font-size: 20px;
}

.card:hover .arrow {
  opacity: 1;
}

.card h2 {
  font-size: 18px;
  transition: 0.5s;
  padding-bottom: 20px;
}

.card:hover h2 {
  color: var(--primaryColor);
}

.card span i {
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  .contentGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .contentGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .seeAllBtn {
    top: 130px;
    right: 3%;
  }
}
