.portfolio {
  position: relative;
}

.portfolio .box {
  border-radius: 10px;
  position: relative;
}

.portfolio .box:hover {
  background: none;
  transform: translateY(0);
}

.portfolio .img {
  height: 300px;
  overflow: hidden;
  transition: 0.5s;
}

.portfolio img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}
.portfolio .box .img:hover img {
  transform: scale(1.2);
}
.portfolio .category {
  margin: 20px 0 30px 0;
  text-transform: uppercase;
}
.portfolio .category span:nth-child(1) {
  color: #66b58f;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}

.portfolio .arrow {
  position: absolute;
  right: 30px;
  bottom: 11%;
  transform: rotate(-45deg);
  color: #66b58f;
  opacity: 0;
  transition: 0.5s;
}

.portfolio .title:hover .arrow {
  opacity: 1;
}
.portfolio h2 {
  font-size: 18px;
  transition: 0.5s;
  padding-bottom: 30px;
}

.portfolio .box:hover h2 {
  color: #66b58f;
}
.portfolio .box:hover {
  color: black;
}

.portfolio label i {
  margin-right: 10px;
}

/*-----Modal----*/

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}

.overlay {
  background-color: #ecf0f3f6;
}
.modal-content {
  position: absolute;
  top: 12%;
  left: 8%;
  line-height: 1.4;
  background: #f0f3f5;
  padding: 14px 28px;
  min-width: 60%;
  max-width: 85%;
  z-index: 9999;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
  padding: 50px;
  border-radius: 10px;
}

.modal-text {
  padding: 0 100px 0 50px;
}

.modal-text h1 {
  margin: 20px 0 20px 0;
  font-size: 30px;
}

.modal-text p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 25px;
}

.modal-text button {
  margin-right: 20px;
  color: #66b58f;
}

.modal-text button i {
  margin-left: 10px;
}

.modal-text button.close-modal {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  font-size: 20px;
}
.modal-text button.close-modal i {
  margin: 0;
}

/*-----Modal----*/
