.resume .heading h1 {
  font-size: 40px;
}
.resume .content {
  max-width: 85%;
  margin: auto;
}

.resume .box {
  padding: 40px;
}

.resume hr {
  margin: 30px 0;
  border: 1px solid #e3e9ed;
  background-color: #e3e9ed;
}

.resume .rate .btn_shadow {
  color: #66b58f;
  padding: 15px 30px;
  font-weight: bold;
  transition: 0.5s;
}

.resume p {
  font-size: 18px;
  transition: 0.5s;
}

.resume .box {
  margin-bottom: 40px;
  position: relative;
}

.resume .btn_shadow:hover {
  transform: translateY(0);
}

.resume .box:hover .btn_shadow {
  background: #66b58f;
  box-shadow: none;
  color: white;
}
.resume .box:hover p {
  color: white;
}

.resume .content-section {
  position: relative;
}

.resume .left {
  position: relative;
}

.resume .left::after {
  content: '';
  position: absolute;
  top: 16%;
  left: 0;
  height: 118vh;
  width: 5px;
  background: #d9dee2;
  z-index: -2;
}

.resume .box::after {
  content: '';
  position: absolute;
  top: 13%;
  left: -8%;
  height: 5px;
  width: 50px;
  background: #d9dee2;
}

.resume .box::before {
  content: '';
  position: absolute;
  top: 12%;
  left: -55px;
  height: 10px;
  width: 10px;
  background: #fff;
  border: 2px solid #d9dee2;
  border-right: 50%;
  z-index: 5;
}

.resume .box:hover.box::before {
    background: #66b58f;

}

