.card {
  composes: boxShadow from global;
  border-radius: 10px;
  padding: 18px 25px;
  cursor: pointer;
  position: relative;
  color: var(--textSecondary);
}

.img {
  width: 100%;
  max-height: 250px;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 15px 20px -15px rgba(0, 0, 0, 0.459);
  margin: 5px 0;
  margin-bottom: 15px;
}

.img img {
  object-fit: cover;
  border-radius: 10px;
  min-height: 300px;
  width: 100%;
  transition: 0.5s;
}

.img:hover img {
  transform: scale(1.05);
}
.category {
  /* margin: 5px 0 5px 0; */
  text-transform: uppercase;
}
.category span {
  color: var(--primaryColor);
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}
.date {
  font-size: 13px;
  color: var(--textPrimary);
}

.arrow {
  position: absolute;
  right: 15px;
  bottom: 15px;
  transform: rotate(-45deg);
  color: var(--primaryColor);
  opacity: 0;
  transition: 0.5s;
}
.arrow i {
  font-size: 20px;
}

.card:hover .arrow {
  opacity: 1;
}

.card h2 {
  font-size: 18px;
  transition: 0.5s;
  padding-bottom: 0px;
}

.card:hover h2 {
  color: var(--primaryColor);
}

.card span i {
  margin-right: 10px;
}
