.header {
  height: 10vh;
}

.headerActive {
  height: 12vh;
  max-height: 100px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--backgroundPrimary);
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.nav {
  height: 100%;
  composes: container from global;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
nav li a::after {
  transition: 1s ease;
  content: '';
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primaryColor);
}
:global nav li.active a::after {
  width: 100%;
}
:global nav li.active a {
  color: var(--primaryColor);
}

.logo {
  margin-top: 10px;
  width: auto;
  height: 45px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
}
.navLinks li {
  position: relative;
  margin-left: 30px;
}

.navLinks li a {
  transition: 0.5s;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navLinks li a:hover {
  color: var(--primaryColor);
}
.cogBtn {
  font-size: 18px;
  composes: fas fa-cog from global;
  animation-name: rotation;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.cogBtn:hover {
  animation-duration: 2s;
}

.homeBtn {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  height: fit-content;
  color: var(--primaryColor);
  composes: boxShadow from global;
}
.homeBtn:hover {
  background: var(--primaryColor);
  color: var(--textContrast);
}

.navMobileLinks {
  composes: navLinks;
  position: fixed;
  display: none;
  list-style: none;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.23),
    0 30px 60px -30px rgb(0, 0, 0);
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 60%;
  height: 110vh;
  background-color: white;
  z-index: 888;
}
.navMobileLinks li {
  width: 100%;
  transition: 0.5s;
  line-height: 65px;
}
.navMobileLinks li a::after {
  max-width: 100px;
}

.showMobile {
  display: none;
}
.mobileBtns {
  transition: 0.5s;
  position: absolute;
  color: var(--primaryColor);
  font-size: 25px;
  z-index: 999;
  composes: showMobile;
}

.openBtn {
  composes: fas fa-bars from global;
  composes: mobileBtns;
  top: 35px;
  right: 30px;
  cursor: pointer;
}
.closeBtn {
  composes: fas fa-times from global;
  composes: homeBtn mobileBtns;
  border-radius: 50%;
  padding: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 35px;
  right: 45%;
}
@media (max-width: 1150px) {
  .cogBtn {
    display: none;
  }
}

@media (max-width: 1100px) {
  .showMobile {
    display: block;
  }

  .navLinks {
    display: none;
  }
  .navMobileLinks {
    padding-top: 30px;
    display: block;
  }
}
