header {
  height: 10vh;
  max-height: 200px;
  line-height: 7vh;
}

header .container {
  padding-top: 15px;
}
header ul li {
  margin-left: 30px;
}
header ul li a {
  transition: 0.5s;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}
header ul li a:hover {
  color: #66b58f;
}

.home-btn {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  height: fit-content;
  color: #66b58f;
}
.home-btn {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}
.home-btn:hover {
  background: #66b58f;
  color: #fff;
}
.open {
  display: none;
}

.header.active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

@media (max-width: 768px) {
  header ul {
    padding-top: 30px;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.23),
      0 30px 60px -30px rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 888;
  }
  header ul li {
    width: 100%;
    transition: 0.5s;
    text-transform: uppercase;
    line-height: 70px;
  }
  header .link {
    display: none;
  }
  .close,
  .open {
    position: absolute;
    color: #66b58f;
    display: block;
    font-size: 25px;
    z-index: 999;
  }
  .open {
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .close {
    top: 35px;
    right: 45%;
  }
  .close.home-btn {
    color: #66b58f;
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .header.active {
    height: 10vh;
  }
}
