/*-----Modal----*/

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.overlay {
  composes: modal;
  background-color: var(--backgroundPrimary);
}

.modalContent {
  composes: container from global;
  composes: boxShadow from global;
  /*   background: #fff; */
  width: auto;
  height: auto;
  max-height: 90vh;
  position: relative;
  z-index: 9999;
  padding: 50px;
  border-radius: 10px;
  overflow: auto;
  scroll-behavior: smooth;
}

.btnWrapper {
  position: absolute;
  top: 2%;
  right: 6%;
}
.closeBtn {
  composes: btnShadow from global;
  color: var(--primaryColor);
  position: fixed;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .modalContent {
    max-height: 100vh;
    flex-direction: column;
    padding: 4%;
  }
}
@media screen and (max-width: 900px) {
  .btnWrapper {
    top: 2%;
    right: 15%;
  }
}

/*-----Modal----*/
