:root {
  --primaryColor: #66b58f;
  --primaryDark: #428866;
  --backgroundPrimary: #ecf0f3;
  --backgroundSecondary: #e2e8ec;
  --backgroundTertiary: #cbcbcb;
  --backgroundQuaternary: #f5f5f5;
  --contrastBackground: #fff;
  --gradientPaper: linear-gradient(
    145deg,
    var(--backgroundSecondary),
    var(--contrastBackground)
  );
  /* --boxShadow: 4px 4px 8px var(--backgroundTertiary),
    4px -4px 8px var(--contrastBackground); */
  --boxShadow: 5px 4px 8px var(--backgroundTertiary),
    5px -4px 8px var(--contrastBackground);
  --textPrimary: #3c3e41;
  --textSecondary: #000;
  --textTertiary: #878e99;
  --textQuaternary: #43474b;
  --textContrast: #fff;

  /*DarkMode*/
  /* --backgroundPrimary: #3c3e41; */
}

.darkMode{ 
  --backgroundPrimary: #212121;
  --backgroundSecondary: #424242;
  --backgroundTertiary: #3c3e41;
  --backgroundQuaternary: #616161;
  --contrastBackground: #212121;
  --textPrimary: #eeeeee;
  --textSecondary: #fff;
  --textTertiary: #d3d3d3;
  --textQuaternary: #fff;
 }
