:root {
  --primaryColor: #66b58f;
  --primaryDark: #428866;
  --backgroundPrimary: #ecf0f3;
  --backgroundSecondary: #e2e8ec;
  --backgroundTertiary: #cbcbcb;
  --gradientPaper: linear-gradient(145deg, var(--backgroundSecondary), #ffffff);
  --boxShadow: 4px 4px 8px var(--backgroundTertiary), 4px -4px 8px #ffffff;
  --textPrimary: #3c3e41;
  --textSecondary: #000;
  --textTertiary: #878e99;
  --textContrast: #fff;
}
