.features {
  margin-top: 80px;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  column-gap: 45px;
  -webkit-perspective: 1000;
}

.slideIn {
  /* composes: slideAnimation; */
  composes: useSlideAnimation from global;
}
.slideIn:nth-child(3) {
  animation-delay: 0.4s;
}
.slideIn:nth-child(2) {
  animation-delay: 0.2s;
}
.slideIn:nth-child(1) {
}

.card {
  composes: btnShadow from global;
  padding: 40px;
}

.card h2 {
  font-size: 23px;
  margin: 15px 0;
}
.card p {
  word-spacing: 2px;
  transition: 0.5s;
}

.actionIcon i {
  font-size: 25px;
  margin-top: 20px;
  transition: 0.5s;
  opacity: 0;
}
.mainIcon i {
  font-size: 35px;
  transition: 1s;
  color: var(--textPrimary);
  color: var(--primaryColor);
}

.card:hover p {
  color: var(--textContrast);
}
.card:hover .actionIcon i {
  color: var(--textContrast);
  opacity: 1;
}
.card:hover .mainIcon i {
  color: var(--textContrast);
}

@media screen and (max-width: 900px) {
  .contentGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .contentGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
