.footer {
  text-align: center;
  margin: 10% 0 5% 0;
}
.footerContainer {
  composes: container from global;
  position: relative;
}

.footer img {
  width: 350px;
}

.svg {
  position: absolute;
  width: 150px;
  height: 150px;
}
.svg:nth-of-type(1) {
  top: 0;
  right: 0;
}
.svg:nth-of-type(2) {
  top: 80px;
  left: 80px;
  transform: rotate(45deg) skew(20deg);
}
.svg:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
.svg:nth-of-type(4) {
  bottom: 80px;
  right: 80px;
  transform: rotate(45deg) skew(20deg);
}

.floatBtn i {
  color: var(--primaryColor);
  font-size: 25px;
}
.floatBtn:hover {
  cursor: pointer;
  background: var(--primaryColor);
}
.floatBtn:hover i {
  color: var(--textContrast);
}
.floatBtn {
  transition: 0.5s;
  composes: boxShadow from global;
  padding: 18px 25px;
  position: absolute;
  top: 0;
  right: 0;
  animation-name: up;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.userBtn {
  font-size: 17px;
}
.userBtn:hover {
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 17px;
}
.modalContent {
  height: 85vh;
}
.visitas {
  font-size: 0.7rem;
}
.visitas img {
  margin-left: 7px;
  width: auto;
  height: 10px;
}

@keyframes up {
  0% {
    top: 0;
  }

  100% {
    top: -15px;
  }
}

@media screen and (max-width: 450px) {
  .footer img {
    width: 200px;
  }
}
@media screen and (max-width: 850px) {
  .svg {
    display: none;
  }
}
