.footer {
  composes: container from global;
  text-align: center;
  margin: 10% 0 5% 0;
}
.footerContainer {
  position: relative;
}

.footer img {
  width: 350px;
}

.floatBtn i {
  color: var(--primaryColor);
  font-size: 25px;
}
.floatBtn:hover {
  cursor: pointer;
  background: var(--primaryColor);
}
.floatBtn:hover i {
  color: var(--textContrast);
}
.floatBtn {
  composes: boxShadow from global;
  padding: 18px 25px;
  position: absolute;
  top: 0;
  right: 0;
  animation-name: up;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.userBtn {
  font-size: 17px;
}
.userBtn:hover {
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 17px;
}
.modalContent {
  height: 85vh;
}

@keyframes up {
  0% {
    top: 0;
  }

  100% {
    top: -15px;
  }
}

@media screen and (max-width: 450px) {
  .footer img {
    width: 200px;
  }
}
