.modal-blog.overlay,
.modal-blog.modal {
  overflow: scroll;
}

.modal-blog.modal .modal-content {
  position: relative;
  top: 10%;
  left: 0;
  max-width: 70%;
  margin: auto;
  margin-bottom: 10%;
}
.modal-blog.modal .modal-content .right,
.modal-blog.modal .modal-content .left {
  width: 100%;
  padding: 0;
  margin-top: 30px;
}

.blog_contact .right,
.blog_contact .left {
  margin: 0 25px 0 0;
}
