.heading {
  composes: heading from global;
  text-align: center;
}

.seeAllBtn {
  composes: smallBtnShadow from global;
  color: var(--primaryColor);
  position: absolute;
  top: 6.875rem;
  right: 3%;
}
.contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.875rem;
}

@media screen and (max-width: 56.25rem) {
  .contentGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.875rem;
  }
}

@media screen and (max-width: 37.5rem) {
  .contentGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.875rem;
  }
  .seeAllBtn {
    top: 6.5625rem;
    right: 3%;
  }
}

/*          Card            */
.card {
  composes: boxShadow from global;
  border-radius: .625rem;
  padding: 1.125rem 1.5625rem;
  cursor: pointer;
  position: relative;
  height: 100%;
}

.img {
  width: 100%;
  transition: 0.5s;
  overflow: hidden;
  border-radius: .625rem;
  max-height: 18.75rem;
}

.img img {
  width: 100%;
  height: 18.75rem;
  transition: 0.5s;
  object-fit: cover;
}

.img:hover img {
  transform: scale(1.05);
}

.date {
  display: flex;
  justify-content: space-between;
  margin: .625rem 0 1.25rem 0;
  text-transform: uppercase;
}
.date span:nth-child(1) {
  color: var(--primaryColor);
  font-size: .8125rem;
  letter-spacing: .125rem;
  font-weight: 500;
}

.card h2 {
  text-align: left;
  font-size: 1.125rem;
  transition: 0.5s;
  padding-bottom: 1.875rem;
  color: var(--textSecondary);
}

.card:hover h2 {
  color: var(--primaryColor);
}

.arrow {
  position: absolute;
  right: 1.5625rem;
  bottom: 1.25rem;
  transform: rotate(-45deg);
  color: var(--primaryColor);
  opacity: 0;
  transition: 0.5s;
}
.arrow i {
  font-size: 1.5625rem;
}

.card:hover .arrow {
  opacity: 1;
}

/*          Card            */

.modalContent {
  background: var(--contrastBackground);
}
