/*-----Modal----*/

.modalContainer {
  display: flex;
  flex-direction: column;
}
.modalContainer h1 {
  font-size: 2.5rem;
}

.modalContainer hr {
  margin: 15px 0;
}

/*--------------------------*/

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}
.tagsContainer span {
  margin: 0 10px;
  padding: 2px 10px;
  margin: 0 5px;
  color: #fff;
  border-radius: 7px;
  font-weight: 500;
  background: var(--primaryColor);
  box-shadow: 4px 4px 8px var(--backgroundTertiary), 4px -4px 8px #ffffff;
}

.modalImg {
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: 30px;
}
.modalImg img {
  width: 100%;
  height: 100%;
  max-height: 450px;
  border-radius: 5px;
  object-fit: cover;
}

.header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  composes: boxShadow from global;
  border-radius: 50px;
  padding-right: 30px;
}
.avatar p {
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}

.avatar img {
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.header span {
  color: var(--textTertiary);
}
/* ----------------Markdown style ------------------------- */

.modalText {
  width: 80%;
  margin: auto;
  padding: 0;
  margin-top: 0px;
  color: var(--textPrimary);
 }

.modalText h1,
.modalText h2,
.modalText h3,
.modalText h4,
.modalText h5,
.modalText h6 {
  font-weight: 400;
  margin: 10px 0;
}

.modalText h1 {
  font-size: 35.2px;
  margin: 30px 0;
}

.modalText h2 {
  font-size: 26.4px;
  margin: 20px 0;
}

.modalText h3 {
  margin: 5px 0;
  font-size: 21px;
  margin: 20px 0;
}

.modalText p,
a {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  margin: 15px 0;
}

.modalText blockquote {
  border-left: 10px solid var(--primaryColor);
  display: flex;
  align-items: center;
  align-content: center;
  background: var(--backgroundSecondary);
  padding: 20px;
  margin: 10px 0;
  display: block;
}

.modalText ul {
  margin-left: 15px;
}

.modalText ul li::before {
  content: '\2022';
  color: var(--textPrimary);
  font-weight: bold;
  font-size: 15pt;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.modalText code {
  padding: 7px;
  margin: 0 5px;
  color: var(--textPrimary);

  border-radius: 5px;
  font-weight: 600;
  background: var(--backgroundTertiary);
}

.modalText a {
  color: var(--primaryColor);
}
.modalText a:hover {
  color: var(--primaryDark);
  text-decoration: underline;
}

.modalText table {
  border-collapse: collapse;
  width: 100%;
}
.modalText table,
.modalText th,
.modalText td {
  border: 1px solid var(--textTertiary);
}
.modalText thead {
  background: var(--backgroundTertiary);
  border: 1px solid var(--textSecondary);
}
.modalText th,
.modalText td {
  padding: 10px;
}

.blog_contact .right,
.blog_contact .left {
  margin: 0 25px 0 0;
}

/*-----Modal----*/

@media screen and (max-width: 600px) {
  .modalContainer h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .modalText {
    width: 100%;
  }
}
