/*-----Modal----*/

.modalContainer {
  display: flex;
  flex-direction: column;
}

.modalImg {
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: 30px;
}
.modalImg img {
  width: 100%;
  height: 100%;
  max-height: 450px;
  border-radius: 5px;
  object-fit: cover;
}

.modalText {
  width: 100%;
  padding: 0;
  margin-top: 30px;
}

.modalText h1 {
  margin: 35px 0 35px 0;
  font-size: 30px;
}

.modalText p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 25px;
}

.blog_contact .right,
.blog_contact .left {
  margin: 0 25px 0 0;
}

/*-----Modal----*/
