.testimonial h2 {
  margin: 15px 0 0 0;
}
.testimonial .left {
  width: 35%;
  padding: 35px;
  margin: 20px;
}

.testimonial .right {
  width: 65%;
  padding: 0 0 0 50px;
  margin: 0 20px 0 0;
}

.testimonial .quote i {
  font-size: 150px;
  opacity: 0.1;
}

.testimonial .content {
  padding: 50px;
}

.testimonial .content h1 {
  font-weight: 500;
}

.testimonial .content h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.testimonial .slide_button {
  position: absolute;
  top: 30px;
  right: 20px;
}

.testimonial .slide_button .prev_btn {
  margin-right: 30px;
}
.testimonial .details span:nth-child(1) {
  color: #66b58f;
}

/*Slider*/

.testimonial .slide {
  min-width: 80%;
  margin: auto;
  height: 500px;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  opacity: 1;
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/*Slider*/
