@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--backgroundPrimary);
}
a {
  text-decoration: none;
  color: var(--textSecondary);
}
li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: none;
}
h1 {
  color: var(--textPrimary);
}

p {
  color: var(--textPrimary);
}

:global .container {
  width: 95%;
  max-width: 1300px;
  margin: auto;
}

:global .hideScroll {
  overflow: hidden;
}

:global .boxShadow {
  background: var(--gradientPaper);
  box-shadow: var(--boxShadow);
  border-radius: 10px;
}

:global .btnShadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;
  cursor: pointer;
  color: var(--textSecondary);
  background: var(--gradientPaper);
  box-shadow: var(--boxShadow);
}

:global .btnShadow:hover {
  background: var(--primaryColor);
  color: var(--textContrast);
  transform: translateY(-10px);
}

:global .smallBtnShadow {
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.5s all ease;
  cursor: pointer;
  color: var(--textSecondary);
  background: var(--gradientPaper);
  box-shadow: var(--boxShadow);
}
:global .smallBtnShadow:hover {
  background: var(--primaryColor);
  color: var(--textContrast);
  transform: translateY(-10px);
}

:global .heading {
  margin: 50px 0;
}
:global .heading h4 {
  color: var(--primaryColor);
  letter-spacing: 2px;
  font-weight: 400;
}
:global .heading h1 {
  font-size: 60px;
  color: var(--textPrimary);
}
@media screen and (max-width: 450px) {
  :global .heading h1 {
    font-size: 50px;
  }
}

textarea,
input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid var(--backgroundSecondary);
  font-size: 1rem;
}
input:hover,
textarea:hover {
  border: 3px solid var(--backgroundTertiary);
}
input:focus,
textarea:focus {
  border: 3px solid var(--primaryColor);
}

@media screen and (min-width: 400px) {
  /* Tamaño del scroll */
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  /* Estilos barra (thumb) de scroll */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(27, 30, 50, 0.3);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #428866;
  }
  /* Estilos track de scroll */
  ::-webkit-scrollbar-track {
    background-color: rgba(27, 30, 50, 0.15);
  }
}
