.aboutMe {
  flex-direction: column;
}

.aboutContainer {
  composes: container from global;
  display: flex;
}
.AboutLeft {
  width: 40%;
  height: auto;
  text-align: center;
}
.AboutLeft span {
  color: var(--primaryColor);
}
.AboutRight {
  width: 60%;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.tabs li {
  position: relative;
}
.tabs .divider {
  color: var(--textPrimary);
}

.tabs li button {
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--textSecondary);
  margin: 5px 2px;
  padding: 8px 10px;
}
.tabBtn {
  composes: boxShadow from global;
}

.tabs li button:hover {
  color: var(--primaryColor);
}

.tabs li button::after {
  transition: 0.1s ease;
  content: '';
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primaryColor);
}
.tabs li.active button::after {
  width: 0%;
}
.tabs li.active button {
  background: rgba(255, 255, 255, 0.548);
  background: var(--primaryColor);
  color: var(--primaryColor);
  color: var(--textContrast);
}

.tabContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.leftImg {
  margin: auto;
  position: relative;
  /* composes: boxShadow from global;*/
  border-radius: 10px;
  padding: 10%;
  margin-right: 10%;
  composes: bgPattern from global;
  background-size: 18px 18px;
  position: sticky;
  top: 0;
}
.leftImg h1,
.leftImg p {
  backdrop-filter: blur(1px);
}

.img {
  border: 1px solid var(--textTertiary);
  composes: boxShadow from global;
  border-radius: 8px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.supportBtn {
  margin: 10px 0;
  composes: smallBtnShadow from global;
  color: var(--primaryColor);
}

.aboutContainer h1 {
  color: var(--textSecondary);

  text-align: center;
}

.AboutRight h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--textPrimary);
  margin: 10px 0;
}
.AboutRight span {
  color: var(--primaryColor);
}

.AboutRight p {
  font-size: 17px;
  line-height: 30px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.skillsContainer a {
  transition: 0.3s;
  border-radius: 10px;
  padding: 6px;
  color: var(--textPrimary);
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.skillsContainer a:hover {
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
}
.studiesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.studiesContainer li a {
  display: block;
  margin: 5px 0;
}

.studiesContainer li:hover a {
  color: var(--primaryColor);
}
.me a {
  color: var(--textSecondary);
}
.me a:hover {
  color: var(--primaryColor);
}

.educationSection span {
  font-size: 14px;
  color: var(--textTertiary);
}
.educationSection h4 {
  color: var(--textSecondary);
}

@media screen and (max-width: 768px) {
  .AboutRight,
  .AboutLeft {
    width: 100%;
    margin-bottom: 30px;
  }

  .aboutContainer {
    flex-direction: column;
  }

  .aboutContainer h1 {
    font-size: 30px;
    font-weight: bold;
  }
}

@media screen and (max-width: 440px) {
  .aboutContainer h1 {
    font-size: 25px;
  }
  .leftImg {
    padding: 0;
    padding: 5% 0;
    margin-right: 0;
  }
}
